{% extends 'public/base.html' %}

{% block body_class %}bg-{{ promotion.get_promotion_slug }}{% endblock %}

{% block page_content %}
<div class="main-content container clear">
    <div class="row">
        <div class="col-12 col-7-desktop">
            <h3>
                Let's finish what we started<br />
                Make donation for TOVP
            </h3>
        </div>

        <div class="clear col-12 col-9-m col-7-l">

            <!-- multistep form -->
            <form id="donate-widget" method="post" action="{% url 'donate:save_form' promotion.get_promotion_slug 'uk' %}">
                {% csrf_token %}
                <!-- fieldsets -->
                <fieldset id="fs-amount-grid">
                    <h2 class="fs-title">Choose your contribution</h2>
                    <h3 class="fs-subtitle">Step 1 of 3</h3>
                    <div class="row amount-radios radios">
                        {% for amount_item in amount_grid %}
                        <div class="col-4">
                            <label for="amount-{{ forloop.counter }}" class="amount-btn {{ amount_item.default|yesno:'selected,' }}">
                                <input type="radio" name="amount" data-amount={{ amount_item.amount }} data-summary="{{ currency.sign }}{{ amount_item.amount }} {% if amount_item.months > 1 %}for {{ amount_item.months }} months{% endif %}" autocomplete="off" class="radio-button" id="amount-{{ forloop.counter }}" value="{{ forloop.counter }}" {{ amount_item.default|yesno:'checked,' }}>
                                 <span>{{ currency.sign }}{{ amount_item.amount }}</span><br/> <span class="multi">in {{ amount_item.months }} monthly installment</span>
                            </label>
                        </div>
                        {% endfor %}
                        <div class="col-6">
                            <label for="amount-other" class="amount-btn otherx">
                                <input type="radio" name="amount" autocomplete="off" class="other-button" id="amount-other" value="0">
                                $ <input type="number" name="amount-other-value" min="20" data-currency="{{ currency.sign }}" class="other-amount other-text input-mini no-stretch" autocomplete="off" id="amount-other-value">
                            </label>
                        </div>
                    </div>
                    <input type="button" id="fs-amount-grid-next" name="next" class="next amount-next action-button" value="Next" />
                </fieldset>

                <fieldset id="fs-personal-details">
                    <h2 class="fs-title">Personal details</h2>
                    <h3 class="fs-subtitle">Step 2 of 3</h3>
                    <input required type="text" name="first-name" placeholder="First Name" />
                    <input required type="text" name="last-name" placeholder="Last Name" />
                    <input type="text" name="initiated-name" placeholder="Initiated Name" />
                    <input type="email" required name="email" placeholder="Email" />
                    <input type="text" name="phone" placeholder="Phone" />
                    {#<input type="text" name="pan" placeholder="PAN Card Number" pattern="[A-Za-z]{5}\d{4}[A-Za-z]{1}" title="Fill PAN number in correct format or leave empty."/>#}
                    <textarea name="address" placeholder="Address"></textarea>
                    <input type="button" name="previous" class="previous action-button" value="Previous" />
                    <input type="button" name="next" class="next action-button" value="Next" />
                </fieldset>

                <fieldset>
                    <h2 class="fs-title">Payment information</h2>
                    <h3 class="fs-subtitle">Step 3 of 3</h3>

                    <div id="amount-summary"><span></span><a class="edit-link" href="">[edit]</a></div>

                    <input type="button" name="previous" class="previous action-button" value="Edit" />
                    <input type="submit" name="save" class="action-button" value="Continue to payment method" />


{#  <div class="stripe-button-container">#}
{#  <script#}
{#    src="https://checkout.stripe.com/checkout.js" class="stripe-button"#}
{#    data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"#}
{#    data-amount="999"#}
{#    data-name="Stripe.com"#}
{#    data-description="Widget"#}
{#    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"#}
{#    data-locale="auto"#}
{#    data-zip-code="true"#}
{#    data-notrack>#}
{#  </script>#}
{#  </div>#}
                </fieldset>
            </form>
        </div>

        {# </div> #}


        </div>
    </div>
</div>

<script src="http://thecodeplayer.com/uploads/js/jquery.easing.min.js" type="text/javascript"></script>
<script>
//jQuery time
var current_fs, next_fs, previous_fs; //fieldsets
var left, opacity, scale; //fieldset properties which we will animate
var animating; //flag to prevent quick multi-click glitches

$(".next").click(function(){
    current_fs = $(this).parent();
    next_fs = $(this).parent().next();

    var validated = false;
    var fs_id = current_fs.attr('id');
    var summary = '';

    if (fs_id == 'fs-amount-grid') {

        if ($(".amount-btn.other").hasClass("selected") == true) {
            if ($('input[name=amount-other-value]').val()) {
                validated = true;
                summary = $('input[name=amount-other-value]').val();
                $('input[name=amount-other-value]').removeClass('error');

                summary = $('#amount-other-value').data('currency') + summary + ' for ' + Math.ceil($('#amount-1').data('amount')/summary) + ' months ';
            }
            else {
                $('input[name=amount_other_value]').addClass('error');
                $('input[name=amount_other_value]').focus();
            }
        }
        else {
            validated = true;
            summary = $('input[name=amount]:checked').data("summary")
        }
        $('#amount-summary span').text('Donation of ' + summary);
    }
    else if (fs_id== 'fs-personal-details') {
        var $form = $('#donate-widget');
        console.log($('input[name=initiated-name]').val());
        if ($('input[name=initiated-name]').val()) {
            $('input[name=first-name]').removeAttr('required');
            $('input[name=last-name]').removeAttr('required');
            console.log('xxx1111');
        }
        else {
            $('input[name=first-name]').attr('required', 'true');
            $('input[name=last-name]').attr('required', 'true');
            console.log('zzzz222');
        }
        if (!$form[0].checkValidity()) {
            // If the form is invalid, submit it. The form won't actually submit;
            // this will just cause the browser to display the native HTML5 error messages.
            $form.find(':submit').click()
        }
        else {
            validated = true;
        }
    }
    else {
        validated = true;
    }

    if (!validated) {
    }
    else {
        if(animating) return false;
        animating = true;

        //activate next step on progressbar using the index of next_fs
        $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

        //show the next fieldset
        next_fs.show();
        //hide the current fieldset with style
        current_fs.animate({opacity: 0}, {
            step: function(now, mx) {
                //as the opacity of current_fs reduces to 0 - stored in "now"
                //1. scale current_fs down to 80%
                scale = 1 - (1 - now) * 0.2;
                //2. bring next_fs from the right(50%)
                left = (now * 50)+"%";
                //3. increase opacity of next_fs to 1 as it moves in
                opacity = 1 - now;
                // current_fs.css({'transform': 'scale('+scale+')'});
                next_fs.css({'opacity': opacity});
                //next_fs.css({'left': left, 'opacity': opacity});
            },
            duration: 0,
            complete: function(){
                current_fs.hide();
                animating = false;
            },
            //this comes from the custom easing plugin
            easing: 'easeInQuad'
        });
        return false;
    }

});

$("#amount-summary .edit-link a").click(function(){
    console.log('weeeeeeeeeee edit link');
    	if(animating) return false;
	animating = true;

	current_fs = $(this).parent().parent().parent();
    previous_fs = $('fieldset#fs-amount-grid');


	//de-activate current step on progressbar
	$("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

	previous_fs.show();
	//hide the current fieldset with style
	current_fs.animate({opacity: 0}, {
		step: function(now, mx) {
			//as the opacity of current_fs reduces to 0 - stored in "now"
			//1. scale previous_fs from 80% to 100%
			scale = 0.8 + (1 - now) * 0.2;
			//2. take current_fs to the right(50%) - from 0%
			left = ((1-now) * 50)+"%";
			//3. increase opacity of previous_fs to 1 as it moves in
			opacity = 1 - now;
			// current_fs.css({'left': left});
			previous_fs.css({'opacity': opacity});
			// previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
		},
		duration: 0,
		complete: function(){
			current_fs.hide();
			animating = false;
		},
		//this comes from the custom easing plugin
		easing: 'easeInQuad'
		// easing: 'easeInOutBack'
	});
    return false;
});


$(".previous").click(function(){
	if(animating) return false;
	animating = true;

	current_fs = $(this).parent();

	previous_fs = $(this).parent().prev();

	//de-activate current step on progressbar
	$("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

	//show the previous fieldset
	previous_fs.show();
	//hide the current fieldset with style
	current_fs.animate({opacity: 0}, {
		step: function(now, mx) {
			//as the opacity of current_fs reduces to 0 - stored in "now"
			//1. scale previous_fs from 80% to 100%
			scale = 0.8 + (1 - now) * 0.2;
			//2. take current_fs to the right(50%) - from 0%
			left = ((1-now) * 50)+"%";
			//3. increase opacity of previous_fs to 1 as it moves in
			opacity = 1 - now;
			// current_fs.css({'left': left});
			previous_fs.css({'opacity': opacity});
			// previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
		},
		duration: 0,
		complete: function(){
			current_fs.hide();
			animating = false;
		},
		//this comes from the custom easing plugin
		easing: 'easeInQuad'
		// easing: 'easeInOutBack'
	});
});

$(".submit").click(function(){
	return false;
})

$(".amount-radios input").click(function() {
    $('.amount-radios .amount-btn.selected').removeClass('selected');
    $(this).parent().toggleClass('selected');
    $('input[name=amount_other_value]').removeClass('error');

    if ($(this).hasClass('other-amount') != true) {
        $(".amount-next").click();
    }
    else {
        console.log('xxx');
        $('input#amount-other').attr('checked', true);
    }

})

</script>

{% endblock %}
