{% extends 'public/base.html' %}

{% block body_class %}bg-tovp{% endblock %}
{% block page_content %}
    <div class="main-content container clear">
        <div class="row">
            <div class="col-12 col-7-desktop">
                <h3>
                    Let's finish what we started<br />
                    Make donation for TOVP
                </h3>
            </div>

            <div class="clear col-12 col-8-m col-6-l">
                <div class="content-box col-12">
                    {% for promotion in promotions %}
                        xxxxxxxxx
                        <a class="btn" href="{{ promotion.get_donate_url }}">
                        {{ promotion.meta.verbose_name }}
                            x{{ promotion__get_donate_url }}x
                        ₹ {{ promotion.amount.INR }}
                        $ {{ promotion.amount.USD }}
                        £ {{ promotion.amount.GBP }}
                        </a>
                        <br/>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
