// ==========================================================================
// Website or App Stylesheet
// ==========================================================================

// Variables and Colors
@import "styles/variables-colors";

// Import Base
@import "base";

// Placeholders
@import "_placeholders";
@import "_mixins";

// Website / App Styles
@import "styles/header";
@import "styles/footer";

// Import Base Helpers
@import "base/_helpers";

@import "_m-styles";
@import "_donate-form";


@media only screen and (min-width: $breakpoint-m) {
    @import "_t-styles";
}

@media only screen and (min-width: $breakpoint-l) {
    @import "_d-styles";
}

// -------------------------------------------
// Change with to 'auto' for 'm' and 'l' sizes
// -------------------------------------------
// Medium Device Container
@media only screen and (min-width: $breakpoint-m) and (max-width: $breakpoint-l) {
  .container, .container-full,
  .container-m, .container-full-m {
    width: auto;
  }
}
// Large Device Container
@media only screen and (min-width: $breakpoint-l) and (max-width: $breakpoint-xl) {
  .container, .container-full,
  .container-l, .container-full-l {
    width: auto;
  }
}
// // // Extra Large Device Container
// @include breakpoint(xl) {
//   .container, .container-full,
//   .container-xl, .container-full-xl {
//     width: $container-xl;
//   }
// }

// front page items; fine tuning:
div#header h1 {
	margin-top: 12px;
	font-size: 1.5em;
}
div#header a.logo:hover {
	color: silver;
}
h2.subhead {
	margin-top: 8px;
	color: silver;
	font-weight: 500;
	font-size: 1.4em;
}
