{% extends 'database/content-area.html' %}
{% set body_class = "profiles edit-profile" %}

{% block javascript_head %}
    {{ super() }}
    {% include 'database/_import-selectize.html' %}
{% endblock %}

{% block page_content %}

    <script src="{{ static('js/jquery.formset.js') }}"></script>
    <form action="" enctype="multipart/form-data" method="post">{{ csrf_input }}
        <div class="row">
            {{ form.media }}
            {% if form.non_field_errors() %}
                <p class="tooltip error">
                    {{ form.non_field_errors() }}
                </p>
            {% endif %}
            {% set field_name = 'pledge' %}
            <div class="col-xs-12 col-lg-8 form-group{{' has-error' if form[field_name].errors }}">
                <label class="control-label" for="id_{{ field_name }}">{{ form[field_name].label }}</label>
                {{form[field_name]|add_css('form-control')}}
                {{ form[field_name].errors|safe }}
                {% if form[field_name].help_text %}
                    <div class="help-text">
                        {{ form[field_name].help_text }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            {% set field_name = 'name_on_brick' %}
            <div class="col-xs-12 col-lg-8 form-group{{' has-error' if form[field_name].errors }}">
                <label class="control-label" for="id_{{ field_name }}">{{ form[field_name].label }}</label>
                {{form[field_name]|add_css('form-control')}}
                {{ form[field_name].errors|safe }}
                {% if form[field_name].help_text %}
                    <div class="help-text">
                        {{ form[field_name].help_text }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            {% set field_name = 'brick_status' %}
            <div class="col-xs-12 col-lg-4 form-group{{' has-error' if form[field_name].errors }}">
                <label class="control-label" for="id_{{ field_name }}">{{ form[field_name].label }}</label>
                {{form[field_name]|add_css('form-control')}}
                {{ form[field_name].errors|safe }}
                {% if form[field_name].help_text %}
                    <div class="help-text">
                        {{ form[field_name].help_text }}
                    </div>
                {% endif %}
            </div>
            {% set field_name = 'certificate_given' %}
            <div class="col-xs-12 col-lg-4 form-group{{' has-error' if form[field_name].errors }}">
                <label class="control-label" for="id_{{ field_name }}">{{ form[field_name].label }}</label>
                {{form[field_name]|add_css('form-control')}}
                {{ form[field_name].errors|safe }}
                {% if form[field_name].help_text %}
                    <div class="help-text">
                        {{ form[field_name].help_text }}
                    </div>
                {% endif %}
            </div>
            {% set field_name = 'coin_given' %}
            <div class="col-xs-12 col-lg-4 form-group{{' has-error' if form[field_name].errors }}">
                <label class="control-label" for="id_{{ field_name }}">{{ form[field_name].label }}</label>
                {{form[field_name]|add_css('form-control')}}
                {{ form[field_name].errors|safe }}
                {% if form[field_name].help_text %}
                    <div class="help-text">
                        {{ form[field_name].help_text }}
                    </div>
                {% endif %}
            </div>
        </div>
        <input class="btn btn-lg btn-success" type="submit" value="Save" />
        {% if object and request.user.has_perm('promotions.delete_nrsimhatile' )%}
            <a href="{{ object.get_delete_url() }}" class="btn btn-large">Delete {{ object._meta.verbose_name.title() }}</a>
        {% endif %}
    </form>

<script>
    // Disables 'enter' key to submit form
    function checkEnter(e){
        e = e || event;
        var txtArea = /textarea/i.test((e.target || e.srcElement).tagName);
        return txtArea || (e.keyCode || e.which || e.charCode || 0) !== 13;
    }
    document.querySelector('form').onkeypress = checkEnter;
</script>
<script>
$(document).ready(function() {
    var $aerialTr = $('#id_A').closest('tr').hide();
    var $groundSprayTr = $('#id_B').closest('tr').hide();

    if ($('#id_payment_method').val() == 'cash') {
        $('.field_id_transaction_id').hide();
    }

    $('#id_payment_method').change(function() {
        var selectedValue = $(this).val();
        if(selectedValue  === 'cash') {
            $('#id_status').val('completed');
            $('.field_id_transaction_id').slideUp();
        } else if (selectedValue === 'B') {
        } else {
            $('.field_id_transaction_id').slideDown();
        }
    });
});

</script>
{% endblock %}

