{% extends 'content-area.jinja' %}
{% set page_title = object.name %}
{% set body_class = "person-detail" %}

{% macro print_field(label, value) -%}
    <div class="field-label">{{ label }}</div>
    <div class="field-value">{{ value or 'N/A' }}</div>
{%- endmacro %}


{% block page_content %}

<div class="row">
    <div class="{% if user.has_perm('promotions.change_nrsimhatile') %} col-xs-9 col-ms-10 col-sm-11{% else %}col-xs-12{% endif %}">
        <h1>{{ object._meta.verbose_name.title() }} #{{ object.pk }}</h1>
    </div>
    {% if user.has_perm('promotions.change_nrsimhatile') %} 
        <div class="col-xs-3 col-ms-2 col-sm-1">
            <a href="{{ object.get_update_url() }}" class="btn btn-lg btn-warning">Edit</a>
        </div>
    {% endif %}

    {% set field_label = 'Associated Pledge' %}
    {% set field_name = 'pledge' %}
    <div class="col-xs-12">
        <div class="field-label">{{ field_label }}</div>
        <div class="field-value">
            <a href="{{ object[field_name].get_absolute_url() }}">{{ object[field_name] }}</a>
        </div>
    </div>

    {% set field_label = 'Donor' %}
    {% set field_name = 'pledge.person' %}
    <div class="col-xs-12">
        <div class="field-label">{{ field_label }}</div>
        <div class="field-value">
            <a href="{{ object.pledge.person.get_absolute_url() }}">{{ object.pledge.person }}</a>
        </div>
    </div>


    {% set field_label = 'Name on brick' %}
    {% set field_name = 'name_on_brick' %}
    {% if object[field_name] %}
    <div class="col-xs-12 col-ms-12 col-sm-12">
        {{ print_field(field_label, object[field_name])}}
    </div>
    {% endif %}

    {% set field_label = 'Certificate given' %}
    {% set field_name = 'certificate_given' %}
    <div class="col-xs-12 col-ms-6 col-sm-4">
        {{ print_field(field_label, 'Yes' if object[field_name] else 'No')}}
    </div>

    {% set field_label = 'Coin given' %}
    {% set field_name = 'coin_given' %}
    <div class="col-xs-12 col-ms-6 col-sm-4">
        {{ print_field(field_label, 'Yes' if object[field_name] else 'No')}}
    </div>

    {% set field_label = 'Brick Status' %}
    {% set field_name = 'brick_status' %}
    {% if object[field_name] %}
    <div class="col-xs-12 col-ms-12 col-sm-4">
        {{ print_field(field_label, object.get_brick_status_display()) }}
    </div>
    {% endif %}
</div>


{% endblock %}

