{% extends 'content-area.html' %}
{% set content_title = 'Account Settings' %}
{% set body_class = "profiles account-settings" %}

{% block javascript_head %}
    {{ super() }}
    <link href="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.6.14/selectize.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.6.14/selectize.min.js"></script>
{% endblock %}

{% block page_content %}
    
    <form action="" enctype="multipart/form-data" method="post">{{ csrf() }}

        {% if form_error %}
            <p class="tooltip error">
                {{ form_error }}
            </p>
        {% endif %}

        {% set field_name = 'username' %}
        <div class="col-xs-12 form-group{{' has-error' if form[field_name].errors }}">
            <label class="control-label" for="id_{{ field_name }}">{{ form[field_name].label }}</label>
            {{form[field_name]|add_css('form-control')}}
            {{ form[field_name].errors|safe }}
            {% if form[field_name].help_text %}
                <div class="help-text">            
                    {{ form[field_name].help_text }}
                </div>
            {% endif %}
        </div>

        {% set field_name = 'email' %}
        <div class="col-xs-12 form-group{{' has-error' if form[field_name].errors }}">
            <label class="control-label" for="id_{{ field_name }}">{{ form[field_name].label }}</label>
            {{form[field_name]|add_css('form-control')}}
            {{ form[field_name].errors|safe }}
            {% if form[field_name].help_text %}
                <div class="help-text">            
                    {{ form[field_name].help_text }}
                </div>
            {% endif %}
        </div>

        {% set field_name = 'password1' %}
        <div class="col-xs-12 form-group{{' has-error' if form[field_name].errors }}">
            <label class="control-label" for="id_{{ field_name }}">{{ form[field_name].label }}</label>
            {{form[field_name]|add_css('form-control')}}
            {{ form[field_name].errors|safe }}
            {% if form[field_name].help_text %}
                <div class="help-text">            
                    {{ form[field_name].help_text }}
                </div>
            {% endif %}
        </div>

        {% set field_name = 'password2' %}
        <div class="col-xs-12 form-group{{' has-error' if form[field_name].errors }}">
            <label class="control-label" for="id_{{ field_name }}">{{ form[field_name].label }}</label>
            {{form[field_name]|add_css('form-control')}}
            {{ form[field_name].errors|safe }}
            {% if form[field_name].help_text %}
                <div class="help-text">            
                    {{ form[field_name].help_text }}
                </div>
            {% endif %}
        </div>

        <input class="btn btn-success" type="submit" value="Update" /> 
    </form>

    <script>
        $("#id_password2").keyup(function(){
            if($(this).val() != $("#id_password1").val()){
                // alert($("#id_password1").val());
                $("#field-password2-row .password-check").html('');
            }   
            else {
                if ($(this).val() != '') {
                    $("#field-password2-row .password-check").html('<i class="fa fa-check"></i> Password are matching.');
                }
            }
        });
    </script>
{% endblock %}
