{% extends 'database/content-area.jinja' %}
{% set body_class = "logout" %}

{% set content_title = "Logout" %}
{% block javascript_head %}
    {{ super() }}
{% endblock %}

{% block page_content %}
Thanks for spending some quality time with the Web site today.
{% endblock %}

