{% extends 'database/content-area.jinja' %}
{% set content_title = 'Reset Password' %}
{% set body_class = "reset-password" %}

{% block page_content %}

    {% if validlink %}
        <p>Please enter your new password twice.<br />
           So we can verify you typed it in correctly.</p>

        <form class="form-normal" action="" method="post">{% csrf_token %}

            {% set field_name = 'new_password1' %}
            <div class="col-xs-12 form-group{{' has-error' if form[field_name].errors }}">
                <label class="control-label" for="id_{{ field_name }}">{{ form[field_name].label }}:</label>
                {{form[field_name]|add_css('form-control')}}
                {{ form[field_name].errors|safe }}
                {% if form[field_name].help_text %}
                    <div class="help-text">
                        {{ form[field_name].help_text }}
                    </div>
                {% endif %}
            </div>

            {% set field_name = 'new_password2' %}
            <div class="col-xs-12 form-group{{' has-error' if form[field_name].errors }}">
                <label class="control-label" for="id_{{ field_name }}">{{ form[field_name].label }}:</label>
                {{form[field_name]|add_css('form-control')}}
                {{ form[field_name].errors|safe }}
                {% if form[field_name].help_text %}
                    <div class="help-text">
                        {{ form[field_name].help_text }}
                    </div>
                {% endif %}
            </div>


            <input class="btn btn-success" type="submit" value="Change my password" />            
        </form>
    {% else %}
        <h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, <br />
        possibly because it has already been used. <br />
        Please request a new password reset.</p>
    {% endif %}

{% endblock %}
