{% extends 'content-area.jinja' %}
{% set content_title = 'Reset Password' %}
{% set body_class = "reset-password" %}

{% block page_content %}

<form action="" method="post">{{ csrf() }}

<div class="col-xs-12">
    <p>Please specify your email address to receive instructions for resetting it.</p>
</div>
    {% for elem in form %}
            <div class="col-xs-12 form-group{{ ' has-error' if form[elem.name].errors }}">
                {{ form[elem.name].errors}}
                <div class="control-label" for="id_{{ elem.name }}">{{ form[elem.name].label }}:</div>
                {{form[elem.name]|add_css('form-control')}}
                {{ form[elem.name].errors}}
                <div class="help-text">
                    {{ form[elem.name].help_text }}
                </div>
            </div>
    {% endfor %}
<div class="col-xs-12">
    <input class="btn btn-success" type="submit" value="Reset password" />
</div>
</form>
{% endblock %}
