<script>
(function($) {
    $.fn.status_changer = function(options) {
        // Establish our default settings
        var settings = $.extend({
            // action_url: '',
            // text: '',
        }, options);

        var send_action = function (el) {

            $.getJSON( el.attr("action-url"), function( data ) {
                var items = [];
                console.log(data);

                var current_status = el.find('.current-status')
                current_status.attr('class', function(i, c) {
                    return c.replace(/(^|\s)label-\S+/g, '');
                });
                current_status.addClass('label-' + data['new_status_slug']);
                current_status.text(data['new_status_name']);

            });
        }

        return this.each( function() {
            var el = $(this);
            var status_changer = el.find('.status-changer');
            console.log(el);
            console.log(status_changer);
            console.log(el.attr("action-url"));
            status_changer.click(function() {
                status_changer.find('i').addClass('fa-spin');
                send_action(el);
                status_changer.find('i').removeClass('fa-spin');
                return false;
            })
        });
    }
}(jQuery));
</script>

{% if user.has_perm('contributions.can_change_deposit_status' )%}
<script>
$(document).ready( function() {
    $('.deposit-status').status_changer();
});
</script>
{% endif %}

{% if user.has_perm('contributions.can_do_follow_up' )%}
<script>
$(document).ready( function() {
    $('.follow-by-status').status_changer();
});
</script>
{% endif %}
