{% macro mini_paginator(request, paginator, page) -%}
        <div class="pager pagination-centered pagination-mini col-xs-12">
          <ul>
            {% if page.has_previous() %}
                <li><a href="{{ request.get_full_path()|update_url_query({"page": page.previous_page_number()}) }}">«</a></li>
            {% endif %}

            <li>
                <span class="current">
                    Page {{ page.number }} of {{ paginator.page_range[-1:][0] }}{# {{ pager.paginator.num_pages }} #}
                </span>
            </li>
            {% if page.has_next() %}
                <li><a href="{{ request.get_full_path()|update_url_query({"page": page.next_page_number()}) }}">»</a></li>
            {% endif %}
          </ul>
        </div>
{%- endmacro %} 
