
{% import '_macros.html' as macros %}
<!doctype html>
<html>
<head>
  <title>{% if page_title %}{{ page_title|e }}{% else %}{{ content_title|e }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="{{ static("css/style.css") }}" rel="stylesheet">
  {% include '_icons.html' %}
  {% block javascript_head %}{% endblock %}
</head>
<body unresolved touch-action="auto">
{% include '_google_analytics.html' %}
    <div class="container main-content">
        {% block base_content %}
        {% endblock %}
    </div>
{% include 'footer.html' %}
</body>
</html>

