
{% extends "base.jinja" %}
{% block body_class %}no-sidebar{% if body_class %} {{ body_class }}{% endif %}{% endblock %}
{% block base_content %}
<div class="row">
    <div class="col-xs-12 page-content">
        {% block content_area %}{% endblock content_area %}
    </div>
    <div class="sidebar-wrapper col-xs-12 col-sm-12 col-md-4 col-lg-4">
      {% include 'sidebar.jinja' %}
    </div>
</div>
{% endblock base_content %}

