{% extends 'database/content-area.html' %}
{% set page_title = object.name %}
{% set body_class = "person-detail" %}

{% macro print_field(label, value) -%}
    <div class="field-label">{{ label }}</div>
    <div class="field-value">{{ value or 'N/A' }}</div>
{%- endmacro %}

{% block page_content %}
<div class="row">
    <div class="{% if request.user.has_perm('gifts.change_gift') %} col-xs-9 col-ms-10 col-sm-11{% else %}col-xs-12{% endif %}">
        <h1>{{ object.gift.name }}</h1>
    </div>
    {% if request.user.has_perm('gifts.change_gift') %}
        <div class="col-xs-3 col-ms-2 col-sm-1">
            <a href="{{ url('gifts:gift_given:update', object.person.pk, object.pk) }}" class="btn btn-lg btn-warning">Edit</a>
        </div>
    {% endif %}

    <div class="col-xs-12">
        <div class="field-label">Given to:</div>
        <div class="field-value">
            <a href="{{ object.person.get_absolute_url() }}">{{ object.person.full_name }}{% if object.person.full_name and object.person.initiated_name %} - {% endif %}{{ object.person.initiated_name }}</a>
        </div>
    </div>

    {% set field_label = 'Status' %}
    {% set field_name = 'status' %}
    {% if object[field_name] %}
    <div class="col-xs-6">
        {{ print_field(field_label, object.get_status_display()) }}
    </div>
    {% endif %}

    {% set field_label = 'On' %}
    {% set field_name = 'status_changed' %}
    {% if object[field_name] %}
    <div class="col-xs-6">
        <div class="field-label">{{ field_label }}:</div>
        <div class="field-value">
            {{ object[field_name]|format_date }} ({{ object[field_name]|timesince }} ago)
        </div>
    </div>
    {% endif %}

    {% set field_label = 'Note' %}
    {% set field_name = 'note' %}
    {% if object[field_name] %}
    <div class="col-xs-12">
        {{ print_field(field_label, object[field_name])}}
    </div>
    {% endif %}

    {% include '_nextprev.html' %}
</div>
{% endblock %}

