{% extends 'database/content-area.html' %}
{% set body_class = "profiles edit-profile" %}

{% block javascript_head %}
    {{ super() }}
    {% include 'database/_import-selectize.html' %}
{% endblock %}

{% block page_content %}
    {# <script src="{{ static('js/jquery.formset.js') }}"></script> #}

    <form action="" enctype="multipart/form-data" method="post">{{ csrf_input }}
        {{ form.media }}
        {% if form.non_field_errors() %}
            <p class="tooltip error">
                {{ form.non_field_errors() }}
            </p>
        {% endif %}

        <div class="row">
            {% for field_name in ['name', 'description'] %}
            <div class="col-xs-12 form-group{{' has-error' if form[field_name].errors }}">
                <label class="control-label" for="inputSuccess1">{{ form[field_name].label }}</label>
                {{form[field_name]|add_css('form-control')}}
                {% if form[field_name].help_text %}
                {{ form[field_name].errors|safe }}
                    <div class="help-text">
                        {{ form[field_name].help_text }}
                    </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <input class="btn btn-lg btn-success" type="submit" value="Save" />
    </form>

<script>
    // Disables 'enter' key to submit form
    function checkEnter(e){
        e = e || event;
        var txtArea = /textarea/i.test((e.target || e.srcElement).tagName);
        return txtArea || (e.keyCode || e.which || e.charCode || 0) !== 13;
    }
    document.querySelector('form').onkeypress = checkEnter;
</script>
<script>
    $('.is-selectize').selectize()
</script>
{% endblock %}

