
{% extends "database/base.html" %}
{% block body_class %}sidebar-right{% if body_class %} {{ body_class }}{% endif %}{% endblock %}
{% block base_content %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
        <div class="row">
            <div class="col-xs-12 above-base-content">
                {% block above_base_content %}{% endblock %}
            </div>
            <div class="col-xs-12 page-content">
                {% block content_area %}{% endblock content_area %}
            </div>
        </div>
    </div>
    <div class="sidebar-wrapper col-xs-12 col-sm-12 col-md-4 col-lg-3">
      {% include 'database/sidebar.html' %}
    </div>
</div>
{% endblock base_content %}

