{% extends 'public/base.html' %}
{% set page_title = 'Donate for TOVP' %}
{% set body_class = "donate" %}

{% block page_content %}
<div class="main-content container-full clear">
    <div class="col-12 col-7-desktop">
        <h3>
            Let's finish what we started<br />
            Make donation for TOVP
        </h3>
        <div class="content-box donor-list clear">
            <div class="col-6-tablet col-4-desktop">
                Hare Krishna<br />
            </div>
            <div class="col-6-tablet col-4-desktop">
                Hare Krishna<br />
            </div>
            <div class="col-6-tablet col-4-desktop">
                Hare Krishna<br />
            </div>
            <div class="col-6-tablet col-4-desktop">
                Hare Krishna<br />
            </div>
        </div>
    </div>
</div>
{% endblock %}


