<header id="header" class="header header--fixed hide-from-print" role="banner">
<div class="navbar navbar-main-menu navbar-default xnavbar-inverse navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-menu .navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">TOVP Database</a>
      </div>
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
              <li class="{{ active_link_class(request, "^/$") }}"><a href="{{ url('search:index') }}">Home</a></li>
              <li><a href="{{ url('search:follow_up') }}">Follow Up</a></li>
              {% if user.has_perm('contacts.change_person') %}
                  <li><a href="{{ url('contacts:person:create') }}">Add new person</a></li>
              {% endif %}
              {% if user.has_perm('gifts.add_gift') %}
                  <li><a href="{{ url('gifts:gift:index') }}">Manage Gifts</a></li>
              {% endif %}
              {% if user.is_authenticated() %}
                  <li><a href="{{ url('users:logout') }}">Logout ({{ user }})</a></li>
              {% endif %}
              {# <li class="{{ active_link_class(request, "^/search/") }}"><a href="/">Search</a></li> #}
          </ul>
      </div><!--/.nav-collapse -->
  </div>
</div>

</header>
