{% extends 'content-area.html' %}
{% set page_title = object.name %}
{% set body_class = "person-detail" %}

{% macro print_field(label, value) -%}
    <div class="field-label">{{ label }}</div>
    <div class="field-value">{{ value or 'N/A' }}</div>
{%- endmacro %}

{% block page_content %}
<div class="row">
    {% set field_label = 'TOVP Contact ID' %}
    {% set field_name = 'pk' %}
    <div class="{% if user.has_perm('contacts.change_person') %} col-xs-9 col-ms-10 col-sm-11{% else %}col-xs-12{% endif %}">
        <h1>{{ object.full_name }}</h1>
    </div>
    {% if user.has_perm('contacts.change_person') %} 
        <div class="col-xs-3 col-ms-2 col-sm-1">
            <a href="{{ url('contacts:person:update', object.pk) }}" class="btn btn-lg btn-warning">Edit</a>
        </div>
    {% endif %}

    {% if object.old_database_id %}
    <div class="col-xs-12">
        <div class="field-label">Old database links</div>
        <div class="field-value">
            <a href="https://tovp.org/wp-admin/admin.php?page=CiviCRM&q=civicrm/contact/view&reset=1&cid={{ object.old_database_id }}"class="btn btn-lg btn-warning">View Contact</a>
            <a href="https://tovp.org/wp-admin/admin.php?page=CiviCRM&q=civicrm/contact/add&reset=1&action=update&cid={{ object.old_database_id }}"class="btn btn-lg btn-warning">Edit Contact</a>
        </div>
    </div>
    {% endif %}

    {% set field_label = 'Initiated Name' %}
    {% set field_name = 'initiated_name' %}
    <div class="col-xs-12">
        {{ print_field(field_label, object[field_name])}}
    </div>
    {% set field_label = 'Email' %}
    {% set field_name = 'email' %}
    <div class="col-xs-12 col-sm-6">
        {{ print_field(field_label, object[field_name])}}
    </div>
    {% set field_label = 'Phone Number' %}
    {% set field_name = 'phone_number' %}
    <div class="col-xs-12 col-sm-6">
        {{ print_field(field_label, object[field_name])}}
    </div>
    {% set field_label = 'Temple' %}
    {% set field_name = 'temple' %}
    {% if object[field_name] %}
    <div class="col-xs-12">
        {{ print_field(field_label, object[field_name])}}
    </div>
    {% endif %}
    {% set field_label = 'Yatra' %}
    {% set field_name = 'yatra' %}
    {% if object[field_name] %}
    <div class="col-xs-12">
        <div class="field-label">{{ field_label }}</div>
        <div class="field-value">
            {{ object.get_yatra_display() }}
        </div>
    </div>
    {% endif %}
    {% set field_label = 'Note' %}
    {% set field_name = 'note' %}
    {% if object[field_name] %}
    <div class="col-xs-12">
        {{ print_field(field_label, object[field_name])}}
    </div>
    {% endif %}
    {% set field_label = 'Address' %}
    {% set field_name = 'address' %}
    {% if object.full_address() %}
    <div class="col-xs-12">
        <div class="field-label">{{ field_label }}</div>
        <div class="field-value">
            {% for line in object.full_address() %}
            {{ line }}<br/>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% set field_label = 'PAN Card Number' %}
    {% set field_name = 'pan_card_number' %}
    {% if object[field_name] %}
    <div class="col-xs-12">
        {{ print_field(field_label, object[field_name])}}
    </div>
    {% endif %}
    {% set field_label = 'Note' %}
    {% set field_name = 'note' %}
    {% if object[field_name] %}
    <div class="col-xs-12">
        {{ print_field(field_label, object[field_name])}}
    </div>
    {% endif %}
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h2>Pledges</h2>
                {% if object.pledges.all() %}
                    <div class="row">
                        {% if object.get_has_ballance() %}
                            <div class="col-xs-6">
                                <div class="field-label">Total Pledged</div>
                                <div class="field-value">
                                    {% for currency in object.get_ballance() %}
                                        {% if object.get_ballance()[currency].pledged %}
                                            <div>{{ object.get_ballance()[currency].pledged }} {{ currency }}</div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="field-label">Total Paid</div>
                                <div class="field-value">
                                    {% for currency in object.get_ballance() %}
                                        {% if object.get_ballance()[currency].pledged %}
                                            <div>{{ object.get_ballance()[currency].paid }} {{ currency }}</div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        <div class="col-xs-12">
                            <ul>
                            {% for pledge in object.pledges.all() %}
                                <li>Pledge: <a href="{{ pledge.get_absolute_url() }}">{{ pledge }}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% else %}
                    <p>There are currently no pledges.</p>
                {% endif %}
                {% if user.has_perm('contributions.add_pledge') %}
                    <a href="{{ url('contributions:pledge:create', object.pk) }}" class="btn btn-lg btn-success">Add PLEDGE</a>
                {% endif %}
                {% if user.has_perm('contributions.add_bulkpayment') %}
                    <a href="{{ url('contributions:bulk_payment:create', object.pk) }}" class="btn btn-lg btn-success">Add BULK PAYMENT</a>
                {% endif %}
            </div>
            <div class="col-xs-12 col-sm-6">
                <h2>Latest Contributions</h2>
                {% if object.get_contributions().all() %}
                    {% for contribution in object.get_contributions().all() %}
                        <div class="col-xs-12">
                            <a href="{{ contribution.get_absolute_url() }}">{{ contribution.info() }}</a>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>There are currently no contributions.</p>
                {% endif %}
                {% if object.bulk_payments.all() %}
                <h2>Latest Bulk Payments</h2>
                    {% for contribution in object.bulk_payments.all() %}
                        <div class="col-xs-12">
                            <a href="{{ contribution.get_absolute_url() }}">{{ contribution.info() }}</a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-6">
                        <h2>Promotions</h2>
                        {% if object.assigned_promotions() %}
                            <h3>Awarded Promotions</h3>
                            <ul>
                            {% for promotion in object.assigned_promotions() %}
                                <li><a href="{{ promotion.get_absolute_url() }}">[{{ promotion.pledge.status }}] {{ promotion }}</a></li>
                            {% endfor %}
                            </ul>
                        {% else %}
                            Person don't have any promotions yet.
                        {% endif %}
                    </div>
                    <div class="col-xs-6">
                        <h2>Gifts</h2>
                        {% if object.gifts.count() %}
                            <ul>
                            {% for gift_given in object.gifts.all() %}
                                <li><a href="{{ gift_given.get_absolute_url() }}">{{ gift_given.gift.name }}</a></li>
                            {% endfor %}
                            </ul>
                        {% else %}
                            <p>Person don't have any gifts yet.</p>
                        {% endif %}
                        {% if user.has_perm('gifts.add_giftgiven') %}
                            <a href="{{ url('gifts:gift_given:create', object.pk) }}" class="btn btn-lg btn-success">Add GIFT</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include '_nextprev.html' %}
</div>
{% endblock %}

