// Website Variables and Colours
// $base-background-color: #f00;

$background-color-1:                            #ecc4a5;
$background-color-2:                            #f6dbb8;
$background-color-3:                            #031c2a;

$color-3: #dadada;
$gold:                                          #c90;

$base-h3-color:                                 #fff !default;
