{% import '_macros.jinja' as macros %}
<div class="person-result">
    <div class="follow-by-status" action-url="{{ url('contributions:pledge:assign_to_follow', pk=result.pk) }}"><span class="label label-{{ 'assigned' if result.followed_by != 'Nobody' else 'not-assigned' }} current-status">Followed by: {{ result.followed_by }}</span>
        {% if user.has_perm('contributions.can_do_follow_up') %}
        <a class="status-changer label label-default" href=""><i class="fa fa-refresh"></i></a>
        {% endif %}
    </div>
    <div>{{ result.content_type }}: <a class="object-link" href="{{ result.absolute_url }}">{{ result.full_name }}{% if result.initiated_name %} - {{ result.initiated_name }}{% endif %}</a></div>
    {% if result.source %}Source: {% for source in result.source %}{{ ', ' if not loop.first }}{{ source }}{% endfor %}{% endif %}
    <div>{{ result.info }}</div>
    {% if result.object.has_late_payment() %}
        <div class="btn btn-danger">Payment {{ result.next_payment_date|timesince }} late</div>
    {% else %}
        <div class="btn btn-success">Expected payment in {{ result.next_payment_date|timeuntil }}</div>
    {% endif %}
</div>
