{% import 'database/_macros.jinja' as macros %}
<div class="person-result">
    <div><a class="object-link" href="{{ result.absolute_url }}"><strong>{{ result.content_type }}</strong>: {{ result.name }}</a></div>
</div>
