{% import '_macros.jinja' as macros %}
<div class="person-result">
    <div>{{ result.content_type }}: <a class="object-link" href="{{ result.absolute_url }}">{{ result.full_name }}{% if result.initiated_name %} - {{ result.initiated_name }}{% endif %}</a></div>
    {% if result.country %}
    <div>{{ result.country }}</div>
    {% endif %}
</div>
