{% extends 'content-area.html' %}
{% set body_class = "profiles edit-profile" %}

{% block javascript_head %}
    {{ super() }}
    <link href="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.6.14/selectize.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.6.14/selectize.min.js"></script>
{% endblock %}

{% block page_content %}
{# <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
 #}
<!-- Latest compiled and minified JavaScript -->
{# <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> #}

    <script src="{{ static('js/jquery.formset.js') }}"></script>

    <form action="" enctype="multipart/form-data" method="post">{{ csrf() }}
        <div class="row">
            {{ form.media }}
            {% if form.non_field_errors() %}
                <p class="tooltip error">
                    {{ form.non_field_errors() }}
                </p>
            {% endif %}
            {{ form.person }}
        </div>
        <div class="row">
            {% set field_name = 'pledge' %}
            <div class="col-xs-12 col-lg-8 form-group{{' has-error' if form[field_name].errors }}">
                <label class="control-label" for="id_{{ field_name }}">{{ form[field_name].label }}</label>
                {{form[field_name]|add_css('form-control')}}
                {{ form[field_name].errors|safe }}
                {% if form[field_name].help_text %}
                    <div class="help-text">
                        {{ form[field_name].help_text }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            {% set field_name = 'amount' %}
            <div class="col-ms-6 col-sm-6 col-lg-4 form-group{{' has-error' if form[field_name].errors }}">
                <label class="control-label" for="id_{{ field_name }}">{{ form[field_name].label }}</label>
                {{form[field_name]|add_css('form-control')}}
                {{ form[field_name].errors|safe }}
                {% if form[field_name].help_text %}
                    <div class="help-text">
                        {{ form[field_name].help_text }}
                    </div>
                {% endif %}
            </div>
            {% set field_name = 'currency' %}
            <div class="col-ms-6 col-sm-6 col-lg-3 form-group{{' has-error' if form[field_name].errors }}">
                <label class="control-label" for="id_{{ field_name }}">{{ form[field_name].label }}</label>
                {{form[field_name]|add_css('form-control')}}
                {{ form[field_name].errors|safe }}
                {% if form[field_name].help_text %}
                    <div class="help-text">
                        {{ form[field_name].help_text }}
                    </div>
                {% endif %}
            </div>
            {% set field_name = 'is_external' %}
            <div class="col-xs-12 col-sm-6 col-lg-5 form-group{{' has-error' if form[field_name].errors }}">
                <label class="control-label" for="inputSuccess1">{{ form[field_name].label }}</label>
                {{form[field_name]|add_css('form-control')}}
                {{ form[field_name].errors|safe }}
                {% if form[field_name].help_text %}
                <div class="help-text">
                    {{ form[field_name].help_text }}
                </div>
                {% endif %}
            </div>
            {% set field_name = 'payment_method' %}
            <div class="col-xs-12 col-sm-12 col-lg-8 form-group{{' has-error' if form[field_name].errors }}">
                <label class="control-label" for="id_{{ field_name }}">{{ form[field_name].label }}</label>
                {{form[field_name]|add_css('form-control')}}
                {{ form[field_name].errors|safe }}
                {% if form[field_name].help_text %}
                    <div class="help-text">
                        {{ form[field_name].help_text }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            {% set field_name = 'transaction_id' %}
            <div class="field_id_{{ field_name }} col-xs-12 col-sm-12 col-lg-8 form-group{{' has-error' if form[field_name].errors }}">
                <label class="control-label" for="id_{{ field_name }}">{{ form[field_name].label }}</label>
                {{form[field_name]|add_css('form-control')}}
                {{ form[field_name].errors|safe }}
                {% if form[field_name].help_text %}
                    <div class="help-text">
                        {{ form[field_name].help_text }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            {% set field_name = 'dated' %}
            <div class="field_id_{{ field_name }} col-xs-12 col-ms-12 col-sm-6 col-lg-4 form-group{{' has-error' if form[field_name].errors }}">
                <label class="control-label" for="id_{{ field_name }}">{{ form[field_name].label }}</label>
                {{form[field_name]|add_css('form-control')}}
                {{ form[field_name].errors|safe }}
                {% if form[field_name].help_text %}
                    <div class="help-text">
                        {{ form[field_name].help_text }}
                    </div>
                {% endif %}
            </div>
            {% set field_name = 'receipt_date' %}
            <div class="col-xs-12 col-ms-12 col-sm-6 col-lg-4 form-group{{' has-error' if form[field_name].errors }}">
                <label class="control-label" for="id_{{ field_name }}">{{ form[field_name].label }}</label>
                {{form[field_name]|add_css('form-control')}}
                {{ form[field_name].errors|safe }}
                {% if form[field_name].help_text %}
                    <div class="help-text">
                        {{ form[field_name].help_text }}
                    </div>
                {% endif %}
            </div>
            {% set field_name = 'cleared_on' %}
            <div class="col-xs-12 col-ms-12 col-sm-6 col-lg-4 form-group{{' has-error' if form[field_name].errors }}">
                <label class="control-label" for="id_{{ field_name }}">{{ form[field_name].label }}</label>
                {{form[field_name]|add_css('form-control')}}
                {{ form[field_name].errors|safe }}
                {% if form[field_name].help_text %}
                    <div class="help-text">
                        {{ form[field_name].help_text }}
                    </div>
                {% endif %}
            </div>
            {% set field_name = 'bank' %}
            <div class="field_id_{{ field_name }} col-xs-12 col-ms-12 col-sm-6 col-lg-4 form-group{{' has-error' if form[field_name].errors }}">
                <label class="control-label" for="id_{{ field_name }}">{{ form[field_name].label }}</label>
                {{form[field_name]|add_css('form-control')}}
                {{ form[field_name].errors|safe }}
                {% if form[field_name].help_text %}
                    <div class="help-text">
                        {{ form[field_name].help_text }}
                    </div>
                {% endif %}
            </div>
            {% set field_name = 'status' %}
            <div class="col-xs-12 col-ms-12 col-sm-6 col-lg-4 form-group{{' has-error' if form[field_name].errors }}">
                <label class="control-label" for="id_{{ field_name }}">{{ form[field_name].label }}</label>
                {{form[field_name]|add_css('form-control')}}
                {{ form[field_name].errors|safe }}
                {% if form[field_name].help_text %}
                    <div class="help-text">
                        {{ form[field_name].help_text }}
                    </div>
                {% endif %}
            </div>
            <div class="col-xs-12">
                <div class="row">
                    {% set field_name = 'book_number' %}
                    <div class="col-xs-12 col-ms-12 col-sm-6 col-lg-4 form-group{{' has-error' if form[field_name].errors }}">
                        <label class="control-label" for="id_{{ field_name }}">{{ form[field_name].label }}</label>
                        {{form[field_name]|add_css('form-control')}}
                        {{ form[field_name].errors|safe }}
                        {% if form[field_name].help_text %}
                        <div class="help-text">
                            {{ form[field_name].help_text }}
                        </div>
                        {% endif %}
                    </div>
                    {% set field_name = 'slip_number' %}
                    <div class="col-xs-12 col-ms-12 col-sm-6 col-lg-4 form-group{{' has-error' if form[field_name].errors }}">
                        <label class="control-label" for="id_{{ field_name }}">{{ form[field_name].label }}</label>
                        {{form[field_name]|add_css('form-control')}}
                        {{ form[field_name].errors|safe }}
                        {% if form[field_name].help_text %}
                        <div class="help-text">
                            {{ form[field_name].help_text }}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                Fill following in case person who pays is doing on behalf of the contact:
            </div>
            {% set field_name = 'overwrite_name' %}
            <div class="col-xs-12 col-sm-6 form-group{{' has-error' if form[field_name].errors }}">
                <label class="control-label" for="inputSuccess1">{{ form[field_name].label }}</label>
                {{form[field_name]|add_css('form-control')}}
                {{ form[field_name].errors|safe }}
                {% if form[field_name].help_text %}
                <div class="help-text">
                    {{ form[field_name].help_text }}
                </div>
                {% endif %}
            </div>
            {% set field_name = 'overwrite_address' %}
            <div class="col-xs-12 col-sm-6 form-group{{' has-error' if form[field_name].errors }}">
                <label class="control-label" for="inputSuccess1">{{ form[field_name].label }}</label>
                {{form[field_name]|add_css('form-control')}}
                {{ form[field_name].errors|safe }}
                {% if form[field_name].help_text %}
                <div class="help-text">
                    {{ form[field_name].help_text }}
                </div>
                {% endif %}
            </div>
        </div>
        <input class="btn btn-lg btn-success" type="submit" value="Save" /> 
        {% if object %}
            <a href="{{ url('contributions:contribution:delete', object.pk) }}" class="btn btn-large">Delete Contribution</a>
        {% endif %}
    </form>

<script>
    // Disables 'enter' key to submit form
    function checkEnter(e){
        e = e || event;
        var txtArea = /textarea/i.test((e.target || e.srcElement).tagName);
        return txtArea || (e.keyCode || e.which || e.charCode || 0) !== 13;
    }
    document.querySelector('form').onkeypress = checkEnter;
</script>
<script>
$(document).ready(function() {
    var $aerialTr = $('#id_A').closest('tr').hide();
    var $groundSprayTr = $('#id_B').closest('tr').hide();

    if (
        $('#id_payment_method').val() == 'cashl' | 
        $('#id_payment_method').val() == 'cashf' | 
        $('#id_payment_method').val() == 'neftl' | 
        $('#id_payment_method').val() == 'neftf'
       ) {
        $('.field_id_transaction_id').hide();
    }

    if (
        $('#id_payment_method').val() == 'cashl' | 
        $('#id_payment_method').val() == 'cashf' | 
        $('#id_payment_method').val() == 'neftl' | 
        $('#id_payment_method').val() == 'neftf' | 
        $('#id_payment_method').val() == 'ccdcsl' | 
        $('#id_payment_method').val() == 'ccdcsf'
       ) {
        $('.field_id_dated').hide();
    }

    if (
        $('#id_payment_method').val() == 'cashl' | 
        $('#id_payment_method').val() == 'cashf' | 
        $('#id_payment_method').val() == 'neftl' | 
        $('#id_payment_method').val() == 'neftf' | 
        $('#id_payment_method').val() == 'ccdcsl' | 
        $('#id_payment_method').val() == 'ccdcsf'
       ) {
        $('.field_id_bank').hide();
    }
    $('#id_payment_method').change(function() {
        var selectedValue = $(this).val();
        if (
            selectedValue  === 'cashl' | 
            selectedValue === 'cashf'
           ) {
            $('#id_status').val('completed');
        }
        if (
            selectedValue  === 'cashl' | 
            selectedValue === 'cashf' | 
            selectedValue  === 'neftl' | 
            selectedValue === 'neftf'
           ) {
            $('.field_id_transaction_id').slideUp();
        }
        if (
            selectedValue  === 'cashl' | 
            selectedValue === 'cashf' | 
            selectedValue  === 'neftl' | 
            selectedValue === 'neftf'
           ) {
            $('.field_id_dated').slideUp();
        }
        if (
            selectedValue  === 'ccdcsl' | 
            selectedValue === 'ccdcsf' | 
            selectedValue  === 'cashl' | 
            selectedValue === 'cashf' | 
            selectedValue  === 'neftl' | 
            selectedValue === 'neftf'
           ) {
            $('.field_id_bank').slideUp();
        }
        if (
            selectedValue  === 'chequel' | 
            selectedValue  === 'chequef' | 
            selectedValue  === 'ccdcsl' | 
            selectedValue === 'ccdcsf'
           ) {
            $('.field_id_transaction_id').slideDown();
        }
        if (
            selectedValue  === 'chequel' | 
            selectedValue === 'chequef'
           ) {
            $('.field_id_dated').slideDown();
            $('.field_id_bank').slideDown();
        }
    });
});

</script>
{% endblock %}

