{% extends 'content-area.html' %}
{% set page_title = object.name %}
{% set body_class = "person-detail" %}

{% macro print_field(label, value) -%}
    <div class="field-label">{{ label }}</div>
    <div class="field-value">{{ value or 'N/A' }}</div>
{%- endmacro %}


{% block page_content %}

<div class="row">
    <div class="{% if user.has_perm('contributions.change_contribution') %} col-xs-9 col-ms-10 col-sm-11{% else %}col-xs-12{% endif %}">
        <h1>Contribution #{{ object.pk }}</h1>
    </div>
    {% if user.has_perm('contacts.change_person') %} 
        <div class="col-xs-3 col-ms-2 col-sm-1">
            <a href="{{ url('contributions:contribution:update', object.person.pk, object.pk) }}" class="btn btn-lg btn-warning">Edit</a>
        </div>
    {% endif %}

    {% set field_label = 'Associated Pledge' %}
    {% set field_name = 'pledge' %}
    <div class="col-xs-12">
        <div class="field-label">{{ field_label }}</div>
        <div class="field-value">
            <a href="{{ object[field_name].get_absolute_url() }}">{{ object[field_name] }}</a>
        </div>
    </div>

    {% set field_label = 'Serial Number' %}
    <div class="col-xs-6 col-ms-12 col-sm-4">
        <div class="field-label">{{ field_label }}</div>
        <div class="field-value">
            {{ object.get_serial_number() }}
        </div>
    </div>
    {% set field_label = 'Source' %}
    {% set field_name = 'source' %}
    {% if object[field_name] %}
    <div class="col-xs-12 col-ms-4 col-sm-4">
        {{ print_field(field_label, object.get_source_display()) }}
    </div>
    {% endif %}

    {% if object.book_number %}
    {% set field_label = 'Book Number' %}
    {% set field_name = 'book_number' %}
    <div class="col-xs-6 col-ms-6 col-sm-4">
        <div class="field-label">{{ field_label }}</div>
        <div class="field-value">
            {{ object[field_name] }}
        </div>
    </div>
    {% endif %}

    {% if object.slip_number %}
    {% set field_label = 'Slip Number' %}
    {% set field_name = 'slip_number' %}
    <div class="col-xs-6 col-ms-6 col-sm-4">
        <div class="field-label">{{ field_label }}</div>
        <div class="field-value">
            {{ object[field_name] }}
        </div>
    </div>
    {% endif %}

    {% set field_label = 'Donnor' %}
    {% set field_name = 'person' %}
    <div class="col-xs-12">
        <div class="field-label">{{ field_label }}</div>
        <div class="field-value">
            <a href="{{ object[field_name].get_absolute_url() }}">{{ object[field_name].full_name }}{% if object[field_name].full_name %} - {% endif %}{{ object[field_name].initiated_name}}</a>
        </div>
    </div>
    {% set field_label = 'Amount' %}
    {% set field_name = 'amount' %}
    <div class="col-xs-12 col-ms-8 col-sm-8">
        <div class="field-label">{{ field_label }}</div>
        <div class="field-value">
            {{ object[field_name] }} {{ object.get_currency_display() }}
        </div>
    </div>
    {% set field_label = 'Status' %}
    {% set field_name = 'status' %}
    {% if object[field_name] %}
    <div class="col-xs-12 col-ms-4 col-sm-4">
        {{ print_field(field_label, object.get_status_display()) }}
    </div>
    {% endif %}
    {% set field_label = 'Dated' %}
    {% set field_name = 'dated' %}
    {% if object[field_name] %}
    <div class="col-xs-12 col-ms-4 col-sm-4">
        {{ print_field(field_label, object[field_name])}}
    </div>
    {% endif %}
    {% set field_label = 'Receipt Date' %}
    {% set field_name = 'receipt_date' %}
    {% if object[field_name] %}
    <div class="col-xs-12 col-ms-4 col-sm-4">
        {{ print_field(field_label, object[field_name])}}
    </div>
    {% endif %}
    {% set field_label = 'Cleared On' %}
    {% set field_name = 'cleared_on' %}
    {% if object[field_name] %}
    <div class="col-xs-12 col-ms-4 col-sm-4">
        {{ print_field(field_label, object[field_name])}}
    </div>
    {% endif %}
    {% set field_label = 'Payment Method' %}
    {% set field_name = 'payment_method' %}
    <div class="col-xs-12 col-sm-6">
        {{ print_field(field_label, object.get_payment_method_display()) }}
    </div>
    {% set field_label = 'Transaction ID' %}
    {% set field_name = 'transaction_id' %}
    {% if object[field_name] %}
    <div class="col-xs-12">
        {{ print_field(field_label, object[field_name])}}
    </div>
    {% endif %}
    {% set field_label = 'Overwrite Name' %}
    {% set field_name = 'overwrite_name' %}
    {% if object[field_name] %}
    <div class="col-xs-12 col-sm-4">
        {{ print_field(field_label, object[field_name]) }}
    </div>
    {% endif %}
    {% set field_label = 'Overwrite Address' %}
    {% set field_name = 'overwrite_address' %}
    {% if object[field_name] %}
    <div class="col-xs-12 col-sm-8">
        {{ print_field(field_label, object[field_name]) }}
    </div>
    {% endif %}
    <div class="col-xs-12">
        {% if not object.is_external %}
            <a href="{{ url('contributions:contribution:donor_letter', object.pk) }}" target="_blank" class="btn btn-lg btn-success">Print Donor Letter</a>
            <a href="{{ url('contributions:contribution:donor_receipt', object.pk) }}" target="_blank" class="btn btn-lg btn-success">Print Receipt</a>
        {% else %}
            This is external contribution for which we cannot print receipt as it was issued by somebody else.
        {% endif %}
    </div>
    <div class="col-xs-12 next-prev-navigation">
        {% if object.prev() %}
        <a href="{{ object.prev().get_absolute_url() }}" class="btn btn-warning float-left">&laquo; Previous</a>
        {% endif %}
        {% if object.next() %}
        <a href="{{ object.next().get_absolute_url() }}" class="btn btn-warning float-right">Next &raquo;</a>
        {% endif %}
    </div>
</div>


{% endblock %}

