{% extends 'content-area.html' %}
{% set body_class = "profiles edit-profile" %}

{% block javascript_head %}
    {{ super() }}
    <link href="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.6.14/selectize.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.6.14/selectize.min.js"></script>
{% endblock %}

{% block page_content %}
{# <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
 #}
<!-- Latest compiled and minified JavaScript -->
{# <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> #}

    <script src="{{ static('js/jquery.formset.js') }}"></script>

    <form action="" enctype="multipart/form-data" method="post">{{ csrf() }}
        <div class="row">
            {{ form.media }}
            {% if form.non_field_errors() %}
                <p class="tooltip error">
                    {{ form.non_field_errors() }}
                </p>
            {% endif %}
            {{ form.person }}
            {% set field_name = 'amount' %}
            <div class="col-ms-6 col-sm-6 col-lg-4 form-group{{' has-error' if form[field_name].errors }}">
                <label class="control-label" for="id_{{ field_name }}">{{ form[field_name].label }}</label>
                {{form[field_name]|add_css('form-control')}}
                {{ form[field_name].errors|safe }}
                {% if form[field_name].help_text %}
                    <div class="help-text">
                        {{ form[field_name].help_text }}
                    </div>
                {% endif %}
            </div>
            {% set field_name = 'currency' %}
            <div class="col-ms-6 col-sm-6 col-lg-4 form-group{{' has-error' if form[field_name].errors }}">
                <label class="control-label" for="id_{{ field_name }}">{{ form[field_name].label }}</label>
                {{form[field_name]|add_css('form-control')}}
                {{ form[field_name].errors|safe }}
                {% if form[field_name].help_text %}
                    <div class="help-text">
                        {{ form[field_name].help_text }}
                    </div>
                {% endif %}
            </div>
            {% set field_name = 'payment_method' %}
            <div class="col-xs-12 col-sm-12 col-lg-8 form-group{{' has-error' if form[field_name].errors }}">
                <label class="control-label" for="id_{{ field_name }}">{{ form[field_name].label }}</label>
                {{form[field_name]|add_css('form-control')}}
                {{ form[field_name].errors|safe }}
                {% if form[field_name].help_text %}
                    <div class="help-text">
                        {{ form[field_name].help_text }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            {% set field_name = 'transaction_id' %}
            <div class="field_id_{{ field_name }} col-xs-12 col-sm-12 col-lg-8 form-group{{' has-error' if form[field_name].errors }}">
                <label class="control-label" for="id_{{ field_name }}">{{ form[field_name].label }}</label>
                {{form[field_name]|add_css('form-control')}}
                {{ form[field_name].errors|safe }}
                {% if form[field_name].help_text %}
                    <div class="help-text">
                        {{ form[field_name].help_text }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            {% set field_name = 'dated' %}
            <div class="col-xs-12 col-ms-12 col-sm-6 col-lg-4 form-group{{' has-error' if form[field_name].errors }}">
                <label class="control-label" for="id_{{ field_name }}">{{ form[field_name].label }}</label>
                {{form[field_name]|add_css('form-control')}}
                {{ form[field_name].errors|safe }}
                {% if form[field_name].help_text %}
                    <div class="help-text">
                        {{ form[field_name].help_text }}
                    </div>
                {% endif %}
            </div>
            {% set field_name = 'status' %}
            <div class="col-xs-12 col-ms-12 col-sm-6 col-lg-4 form-group{{' has-error' if form[field_name].errors }}">
                <label class="control-label" for="id_{{ field_name }}">{{ form[field_name].label }}</label>
                {{form[field_name]|add_css('form-control')}}
                {{ form[field_name].errors|safe }}
                {% if form[field_name].help_text %}
                    <div class="help-text">
                        {{ form[field_name].help_text }}
                    </div>
                {% endif %}
            </div>
        </div>
        <input class="btn btn-lg btn-success" type="submit" value="Save" /> 
    </form>

<script>
    // Disables 'enter' key to submit form
    function checkEnter(e){
        e = e || event;
        var txtArea = /textarea/i.test((e.target || e.srcElement).tagName);
        return txtArea || (e.keyCode || e.which || e.charCode || 0) !== 13;
    }
    document.querySelector('form').onkeypress = checkEnter;
</script>
<script>
$(document).ready(function() {
    var $aerialTr = $('#id_A').closest('tr').hide();
    var $groundSprayTr = $('#id_B').closest('tr').hide();

    if ($('#id_payment_method').val() == 'cash') {
        $('.field_id_transaction_id').hide();
    }

    $('#id_payment_method').change(function() {
        var selectedValue = $(this).val();
        if(selectedValue  === 'cash') {
            $('#id_status').val('completed');
            $('.field_id_transaction_id').slideUp();
        } else if (selectedValue === 'B') {
        } else {
            $('.field_id_transaction_id').slideDown();
        }
    });
});

</script>
{% endblock %}

