{% extends 'content-area.html' %}
{% set page_title = object.name %}
{% set body_class = "pledge-detail" %}

{% macro print_field(label, value) -%}
    <div class="field-label">{{ label }}</div>
    <div class="field-value">{{ value or 'N/A' }}</div>
{%- endmacro %}


{% block page_content %}

<div class="row">
    {% set field_label = 'TOVP Contribution ID' %}
    {% set field_name = 'pk' %}
    <div class="{% if user.has_perm('contributions.change_contribution') %} col-xs-9 col-ms-10 col-sm-11{% else %}col-xs-12{% endif %}">
        <h1>Pledge #{{ object.pk }}</h1>
    </div>
    {% if user.has_perm('contacts.change_person') %} 
        <div class="col-xs-3 col-ms-2 col-sm-1">
            <a href="{{ url('contributions:pledge:update', object.person.pk, object.pk) }}" class="btn btn-lg btn-warning">Edit</a>
        </div>
    {% endif %}

    {% set field_label = 'Donnor' %}
    {% set field_name = 'person' %}
    <div class="col-xs-12 col-ms-8 col-sm-8">
        <div class="field-label">{{ field_label }}</div>
        <div class="field-value">
            <a href="{{ object[field_name].get_absolute_url() }}">{{ object[field_name].full_name }}{% if object[field_name].full_name %} - {% endif %}{{ object[field_name].initiated_name}}</a>
        </div>
    </div>
    {% set field_label = 'Status' %}
    {% set field_name = 'status' %}
    {% if object[field_name] %}
    <div class="col-xs-12 col-ms-4 col-sm-4">
        {{ print_field(field_label, object.get_status_display()) }}
    </div>
    {% endif %}
    {% set field_label = 'Amount' %}
    {% set field_name = 'amount' %}
    <div class="col-xs-12 col-ms-8 col-sm-8">
        <div class="field-label">{{ field_label }}</div>
        <div class="field-value">
            {{ object[field_name] }} {{ object.get_currency_display() }}
        </div>
    </div>
    {% set field_label = 'Progress' %}
    <div class="col-xs-12 col-ms-4 col-sm-4">
        <div class="field-label">{{ field_label }}</div>
        <div class="field-value">
            {{ '%.2f' % object.progress }}%
        </div>
    </div>
    {% set field_label = 'Payments Start Date' %}
    {% set field_name = 'payments_start_date' %}
    {% if object[field_name] %}
    <div class="col-xs-12 col-ms-8 col-sm-8">
        <div class="field-label">{{ field_label }}</div>
        <div class="field-value">
            {{ object.payments_start_date|datetimeformat('%B %-d, %Y') }}
        </div>
    </div>
    {% endif %}
    {% set field_label = 'Interval' %}
    {% set field_name = 'interval' %}
    {% if object[field_name] %}
    <div class="col-xs-12 col-ms-4 col-sm-4">
        <div class="field-label">{{ field_label }}</div>
        <div class="field-value">
            {{ object.get_interval_display() }}
        </div>
    </div>
    {% endif %}

    <div class="col-xs-12">
        <h2>Contributions</h2>
        {% if object.contributions.all() %}
            {% for contribution in object.contributions.all() %}
                <div class="col-xs-12">
                    <a href="{{ contribution.get_absolute_url() }}">{{ contribution.info() }}</a>
                </div>
            {% endfor %}
        {% else %}
            <p>There are currently no contributions.</p>
        {% endif %}

        {% if user.has_perm('contributions.add_contribution') %}
            {% if object.person.assigned_promotions() %}
                <a href="{{ url('contributions:contribution:create', object.person.pk, object.pk) }}" class="btn btn-lg btn-success">Add new contribution</a>
            {% else %}
                You need to create promotion first to be able to add contribution.
            {% endif %}
        {% endif %}
    </div>

    <div class="col-xs-12">
        <h2>Promotions</h2>
        {% if object.person.assigned_promotions() %}
            <h3>Awarded Promotions</h3>
            <ul>
            {% for promotion in object.person.assigned_promotions() %}
            <li>[{{ promotion.pledge.status }}] {{ promotion }}</li>
            {% endfor %}
            </ul>
        {% else %}
            Person don't have any promotions yet.
        {% endif %}
    </div>
    {% if user.has_perm('promotions.change_nrsimhatile') %}
        <div class="col-xs-12">
            {% if eligible_promotions %}
                <h3>Eligible Promotions</h3>
                {% for promotion in eligible_promotions %}
                <div class="row">
                    <div class="col-xs-12">
                        <a href="{{ promotion.get_create_url(object.person.pk, object.pk) }}" class="btn btn-xxmd btn-success">Add</a>
                        {{ promotion._meta.verbose_name.title() }}
                    </div>
                </div>
                {% endfor %}
            {% endif %}
            {% if not_eligible_promotions %}
            <h3>May need bigger contribution</h3>
            {% for promotion in not_eligible_promotions %}
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-lg-6">
                    <a href="{{ promotion.get_create_url(object.person.pk, object.pk) }}" class="btn btn-xxmd btn-success">Add</a>
                    {{ promotion._meta.verbose_name.title() }}
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    {{ promotion|promo_ballance(object.person.get_ballance()) }}
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    {% endif %}



</div>

{% endblock %}

