{% extends 'database/content-area.jinja' %}
{% block title %}Profiles{% endblock %}

{% block page_content %}
    {# Paginate objects list and set result as paginated_list #}
    {% set paginated_list = paginate_list(request, object_list, 40) %}
    {# Print pager for pagination #}
    {# Go through objects and print them #}
    {% if paginated_list %}
        <div class="row">
        {% for obj in paginated_list %}
            <div class="col-xs-12">
                <div class="col-xs-12">
                    <a href="{{ obj.get_absolute_url() }}">{{ obj.info() }}</a>
                </div>
            </div>
        {% endfor %}
        </div>
        {{ pager(request, paginated_list) }}
    {% else %}
            <p>There are currently no pledges.</p>
    {% endif %}
{% endblock %}

