{% extends 'print-base.html' %}
{% set body_class = "person-detail" %}
{% set page_content = "Donor Letter" %}

{% macro print_field(label, value) -%}
    <div class="field-label">{{ label }}</div>
    <div class="field-value">{{ value or 'N/A' }}</div>
{%- endmacro %}


{% block page_content %}
<style>
    .align-right { text-align: right; }
    .align-center { text-align: center; }
    .invoice-header {
        margin-bottom: 2em;
    }
    .heading {
        font-size: 2.1em;
    }
    .uppercase {
        text-transform: uppercase;
    }
    .itg-stamp {
        float: right;
        right: 0;
        width: 380px;
        text-align: center;
        font-size: .85em;
    }
    .itg-stamp .box {
        padding: .5em;
        border: 1px solid #000;
        margin-bottom: .5em;
    }
    #iskcon-lotus {
        width:160px;
        position: absolute;
        top: 4em;
    }
    .founder-acarya {
        margin-bottom: .8em;
    }
    .temporary-receipt {
        margin-top: -.3em;
        font-size: 1.5em;
    }
    .item {
        margin-bottom: .4em;
    }
    .item-name, .item-value {
        font-size: 1.4em;
        margin-bottom: .4em;
    }
    .item-name {
        font-size: 1.3em;
    }
    .item-name {
        color: #888;
    }
    .item-value {
        font-weight: 700;
        font-family: 'PT Sans', sans-serif;
    }
    .col-custom-2-5 {
        width:20%
    }
    .footer {
        position: absolute;
        top: 36.8em;
        width:100%;
    }
    .footer-line {
        margin-top: 1em;
        border-top: 1px solid #000;
        padding-top: 1em;
    }

</style>
<img id="iskcon-lotus" src="{{ static('img/iskcon-lotus.png') }}"/>

<div class="row">
    <div class="col-xs-12 invoice-header">
        <div class="align-center">
            <div class="heading uppercase">International Society for Krishna Consciousness</div>
            <div class="founder-acarya">Found Acharya: His Divine Grace A. C. Bhaktivedanta Swami Prabhupada</div>

            <div class="heading">Sri Mayapur Chandrodaya Mandir</div>
            <div class="">P.O. Sri Mayapur, Dist. Nadia, West Bengal, Pin. 741313</div>
            <div class="">Phone No.  03472 245240, 245205, Fax No. 03472 245455</div>
        </div>

{% markdown %}
{% endmarkdown %}
    </div>

    <div class="col-xs-12" style="margin-top: 1em;margin-bottom: 1em;">
        <div class="row">
            <div class="col-xs-1 item-name">Date:</div>
            <div class="col-xs-3 item-value">{{ now() }}</div>
            <div class="col-xs-5 temporary-receipt align-center">
                {% if object.status == 'completed' %}Permanent Receipt{% else %}Temporary Receipt{% endif %}
            </div>
            <div class="col-xs-3 align-right item">
                <span class="item-name">Serial No.: </span>
                <span class="item-value">TOVP{{ object.pk }}</span>
            </div>
        </div>
    </div>
    <div class="col-xs-12 item">
        <span class="item-name">Received with thanks from: </span>
        <span class="item-value">
            {% if object.person.indian_address %}
                {% if object.person.indian_name %}
                    {{ object.person.indian_name }}
                {% elif object.person.initiated_name %}
                    {{ object.person.initiated_name }}
                {% else %}
                    {{ object.person.name }}
                {% endif %}
            {% else %}
                {{ object.person.name }}
            {% endif %}
        </span>
    </div>

    <div class="col-xs-1 item-name">Address:</div>
    <div class="col-xs-11 item-value">
        {% if object.person.indian_address %}
            {{ object.person.indian_address }}
        {% else %}
            {% for line in object.person.full_address() %}
            {{ line }}{% if not loop.last %}, {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    <div class="col-xs-1 item-name">Amount:</div>
    <div class="col-xs-11 item-value">
        {{ object.amount }} {{ object.currency }} ({{ object.amount|num2words }} {{ object.currency_words}})
    </div>

    {% if object.person.pan_card_number %}
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-2 col-custom-2-5 item-name">PAN Card Nunber:</div>
            <div class="col-xs-9 item-value">
                {{ object.person.pan_card_number }}
            </div>
        </div>
    </div>
    {% endif %}

    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-2 col-custom-2-5 item-name">Payment Method:</div>
            <div class="col-xs-8 item-value">
                {{ object.get_payment_method_display() }}
            </div>
        </div>
    </div>

    {% if object.payment_method in ['ccdcsl', 'ccdcsf'] %}
        <div class="col-xs-2 col-custom-2-5 item-name">Transaction ID:</div>
        <div class="col-xs-2 item-value">
            {{ object.transaction_id }}
        </div>
        {% if object.cleared_on %}
        <div class="col-xs-2 col-custom-2-5 item-name">Transaction Date:</div>
        <div class="col-xs-3 item-value">
            {{ object.cleared_on|datetimeformat }}
        </div>
        {% endif %}
    {% endif %}

    {% if object.payment_method in ['chequel', 'chequef'] %}
        <div class="col-xs-3 col-custom-2-5 item-name">Cheque No.:</div>
        <div class="col-xs-2 item-value">
            {{ object.transaction_id }}
        </div>
        {% if object.dated %}
        <div class="col-xs-3 col-custom-2-5 item-name">Dated:</div>
        <div class="col-xs-3 item-value">
            {{ object.dated|datetimeformat }}
        </div>
        {% endif %}
        {% if object.cleared_on %}
        <div class="col-xs-3 col-custom-2-5 item-name">Cleared On:</div>
        <div class="col-xs-4 item-value">
            {{ object.cleared_on|datetimeformat }}
        </div>
        {% endif %}
        {% if object.bank %}
        <div class="col-xs-3 col-custom-2-5 item-name">Bank:</div>
        <div class="col-xs-4 item-value">
            {{ object.bank }}
        </div>
        {% endif %}
    {% endif %}

</div>

<div class="row footer">
    <div class="col-xs-6 item-name">
        For ISKCON<br /><br />
        Authorized Signatory
    </div>
    {% if object.person.pan_card_number and object.status == 'completed' %}
    <div class="col-xs-6 align-right">
        <div class="itg-stamp align-right">
            <div class="box">
                I.T. Exemp. No.: 80G/1667/2007/2008-2009<br />
                dated 29/04/2008 Validity 01-04-08 To 31-03-2011. As per
                The Amended clause (vi), of Subsection (5) of section 80G
                Existing Approvals Expiring on or After 1st Oct. 2009 shall<br />
                be deemed to have been extended in perpetuity.
            </div>
            <div class="cheques-realization uppercase">
                Cheques are subject to realisation
            </div>
        </div>
    </div>
    {% endif %}
    <div class="col-xs-12 footer-line align-center">
        Regd. Office: Hare Krishna Land, Juhu, Mumbai, 49, Phone No. 26206860
    </div>
</div>
{% endblock %}

